* 
{
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Microsoft JhengHei', 'STHeiti', 'sans-serif';
    font-weight: 400;
    letter-spacing: .4px;
}

h3
{
    font-size: 40px;
    color: black;
}

.header_container
{
    max-width: 1520px;
    margin: 0 auto;
    height: auto;
    background-color: white;
    position: relative;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

header .menu_btn
{
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 2px;
}

header .menu_btn::before
{
    content: '';
    position: absolute;
    height: 2px;
    left: 5px;
    width: 30px;
    background-color: rgb(144 144 144);
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 8px 0px rgb(144 144 144),
    0px -8px 0px rgb(144 144 144);
}

header .menu_btn span
{
    opacity: 0;
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
}
header .logo
{
    width: 121px;
    height: 60px;
    margin-left: 3%;
    display: none;
}

header .logo img
{
    vertical-align: bottom;
}

.header_container.navFixed
{        
    max-width: 100%;
    opacity: 0.94;
    background-color: white;
    transition: all .3s 0s ease;
}

.navFixed .logo
{
    display: none;
}

.navFixed .login
{
    display: none;
}

#menu_control
{
    position: absolute;
    z-index: -2;
    opacity: 0;
}

.login
{
    display: none;
    width: auto;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 10px;
}

.login a
{
    text-decoration: none;
}

 .header_separate_line a
    {
        border-top: 1px solid rgb(196, 196, 196);
        position: relative;  /*不知道為什麼這裡把原本的absolut 改為relative就能顯示在畫面上了 */
        top: 42px;
        left: 0;
        display: block;
        z-index: 9;
        white-space: nowrap
    }

nav
{
    top: 0;
}

nav a
{
    text-decoration: none;
    color: black;
}

.desktop_menu
{
    display: none;
}

.mobile_menu
{
    position: absolute;
    left: -100%;
    transition: all .5s 0s ease;
    width: 80%;
    height: 100vh;
    padding-top: 14%;
    background-color: #dcdcdc;
}

#menu_control:checked ~ #app header .mobile_menu
{
    left: 0;
}

    .mobile_menu a
    {   
        display: block;
        font-size: 16px;
        font-family: 'Noto Sans TC', 'Noto Serif TC', 'DFKai-SB', 'STKaiti', 'serif';
        font-weight: 100;
        line-height: 18px;
        padding: 10px 20px;
        border-bottom: 1px solid #f2f2f2;
    }

    .mobile_menu a:active
    {
        background-color: #1637ec;
    }

#big_banner_bg_automated_recognition_echocardiography,
.slick-slide[data-href="automated_recognition_echocardiography.html"]
{
    height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: black;
    background-image: url(./images/big_banner_index_mobile_01.png);
}

#big_banner_bg_9b_interaction_board,
.slick-slide[data-href="9b_interaction_board.html"]
{   
    height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: black;
    background-image: url(./images/big_banner_board_mobile_01.png);
}

#big_banner_bg_automated_recognition_ecg,
.slick-slide[data-href="automated_recognition_ecg.html"]
{
    height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: black;
    background-image: url(./images/big_banner_automated_recognition_ecg_mobile_01.png);
}

#big_banner_bg_gene_stent,
.slick-slide[data-href="gene_stent.html"]
{
    height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: black;
    background-image: url(./images/big_banner_gene_stent_mobile_01.png);
}

.big_banner_text
{
    position: absolute;
    width: 100%;
    max-width: 660px;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 35px;
}

.big_banner_text h1
{
    color: rgb(231, 231, 231);
    font-size: 1.5em;
    text-align: center;
    font-family: 'Noto Serif TC', 'DFKai-SB', 'STKaiti', 'serif';
    font-weight: 700;
    text-shadow: black 0.1em 0.1em 0.2em;
    letter-spacing: .8px;
}
/* 專門微調整 solutions.html 的 big banner 文字專用的 */
.slick-slide[data-href="automated_recognition_echocardiography.html"] .big_banner_text h1:nth-of-type(1){
    margin-bottom: 8px;
}
.slick-slide[data-href="automated_recognition_echocardiography.html"] .big_banner_text h1:nth-of-type(2){
    white-space: nowrap;
    margin-bottom: 5%;
    line-height: 34px;
}

.slick-slide[data-href="9b_interaction_board.html"] .big_banner_text h1:nth-of-type(1){
    white-space: nowrap;
    margin-bottom: 8px;
}
.slick-slide[data-href="9b_interaction_board.html"] .big_banner_text h1:nth-of-type(2){
    margin-bottom: 5%;
    line-height: 34px;
}

.slick-slide[data-href="automated_recognition_ecg.html"] .big_banner_text h1:nth-of-type(1){
    white-space: nowrap;
    margin-bottom: 8px;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.slick-slide[data-href="automated_recognition_ecg.html"] .big_banner_text h1:nth-of-type(2){
    margin-bottom: 5%;
    text-shadow: black 0.1em 0.1em 0.2em;
    line-height: 34px;
}

.slick-slide[data-href="gene_stent.html"] .big_banner_text h1:nth-of-type(1){
    margin-bottom: 8px;
    color:rgb(231, 231, 231);
}
.slick-slide[data-href="gene_stent.html"] .big_banner_text h1:nth-of-type(2){
    color:rgb(231, 231, 231);
    line-height: 34px;
    margin-bottom: 5%;
}

    .big_banner_text p
    {
        color: rgb(231, 231, 231);
        font-size: 20px;
        text-align: center;
        margin-bottom: 5%;
        font-family: 'Noto Serif TC', 'DFKai-SB', 'STKaiti', 'serif';
        font-weight: 700;
        text-shadow: black 0.1em 0.1em 0.2em;
        letter-spacing: .5px;
    }
    /* 專門微調整 solutions.html 的 big banner 文字專用的 */
    .slick-slide[data-href="automated_recognition_echocardiography.html"] .big_banner_text p:nth-of-type(1){
        margin: 0;
    }
    .slick-slide[data-href="automated_recognition_echocardiography.html"] .big_banner_text p:nth-of-type(2){
        margin: 0;
    }

    .slick-slide[data-href="9b_interaction_board.html"] .big_banner_text p:nth-of-type(1){
        margin: 0;
    }
    .slick-slide[data-href="9b_interaction_board.html"] .big_banner_text p:nth-of-type(2){
        margin-bottom: 5%;
    }

    .slick-slide[data-href="automated_recognition_ecg.html"] .big_banner_text p:nth-of-type(1){
        margin: 0;
        text-shadow: black 0.1em 0.1em 0.2em;
    }
    .slick-slide[data-href="automated_recognition_ecg.html"] .big_banner_text p:nth-of-type(2){
        margin-bottom: 5%;
        text-shadow: black 0.1em 0.1em 0.2em;
    }

    .slick-slide[data-href="gene_stent.html"] .big_banner_text p:nth-of-type(1){
        margin: 0;
        color: rgb(231, 231, 231);
    }
    .slick-slide[data-href="gene_stent.html"] .big_banner_text p:nth-of-type(2){
        margin-bottom: 5%;
        color: rgb(231, 231, 231);
    }

    .big_banner_text .button
    {
        width: 100%;
        text-align: center;
        font-family: 'Noto Serif TC', 'DFKai-SB', 'STKaiti', 'serif';
        font-weight: 400;
        letter-spacing: .5px;
    }

#small_banner_wrap
{
    width: 100%;
    overflow: auto;
}

.small_banner
{
    position: relative;
    height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    margin-top: 10px;
}

.small_banner:nth-child(1)
{   
    background-image: url(./images/small_banner_l_mobile_01.png);
    float: none;
}

.small_banner:nth-child(2)
{
    height: 480px;
    background-image: url(./images/small_banner_r_mobile_01.png);
    float: none;
}

.small_banner_container
{
    position: absolute;
    width: 100%;
    max-width: 660px;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 0 35px;
}

.small_banner_container h1
{
    color: white;
    font-size: 30px;
    font-family: 'Noto Serif TC', 'DFKai-SB', 'STKaiti', 'serif';
    font-weight: 700;
    text-align: center;
    margin-bottom: 5%;
}

.small_banner_container p
{
    color: white;
    font-size: 20px;
    font-family: 'Noto Serif TC', 'DFKai-SB', 'STKaiti', 'serif';
    font-weight: 100;
    text-align: center;
    margin-bottom: 5%;
}

footer
{
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 8px 20px;
}

    footer h3
    {
        text-align: center;
        font-size: 16px;
        font-family: 'Noto Serif TC', 'DFKai-SB', 'STKaiti', 'serif';
        font-weight: 100;
        line-height: 20px;
    }

.background_cool_gray
{
    background-color: #f2f2f2;
}

.simulate_image_l_wrap
{
    width: 100%;
    float: none;
    margin-top: 5%;
}

.simulate_image_l
{
    background-image: url(./images/lap_top2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    max-width: 80%;
    margin: 0 auto;
    height: 0;
    padding-bottom: 52%;
}

.flow_image_l_wrap
{
    width: 100%;
    float: none;
    margin-top: 5%;
}

.flow_image_l
{
    background-image: url(./images/flow.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 80%;
    margin: 0 auto;
    height: 0;
    padding-bottom: 63%;
}

.introduce_r
{
    float: none;
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

.gap
{   
    padding-top: 100px;
    padding-bottom: 5%;
    border-bottom: 0.5px solid rgb(196, 196, 196);
}

.article_container
{
    max-width: 1520px;
    margin: 0 auto;
    height: auto;
}

    .article_container .title
    {
        font-size: 26px;
        color: black;
        text-align: center;
        margin-top: 2%;
    }

    .article_container .center
    {
        text-align: center!important;
    }

.article_container_hidden
{
    overflow: auto;
}

.introduce_text_container
{
    max-width: 80%;
    margin: 0 auto;
}

    .introduce_text_container h1
    {
        color: black;
        font-size: 26px;
        margin-bottom: 5%;
    }

    .introduce_text_container p
    {
        color: black;
        font-size: 15px;
        margin-bottom: 5%;
    }

.introduce_video_container
{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
    border-top: 1px solid rgb(196, 196, 196);
}

    .introduce_video_container h1
    {
        margin-bottom: 5%;
        color: black;
        font-size: 1.5em;
        font-weight: 700;
        font-family: 'Noto Serif TC', 'DFKai-SB', 'STKaiti', 'serif';
    }

    .introduce_video_container a
    {
        text-decoration: none;
        color: #1637ec;
        display: block;
        padding-top: 3%;
    }

    .introduce_video_container button
    {
        margin: 5% 0;
        display: block;
        padding: 10px;
        width: 100%;
    }

.feature_nav
{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.feature_item
{
    width: 100%; /* 如果要換行，這個 width 才重要*/
    margin: 0 10px 10px;
    text-align: center;
    background-color: white;
    margin-top: 2%;
    padding: 0 10px;
}

    .feature_item h3
    {
        color: black;
        font-size: 24px;
        margin: 4% 0;
    }

    .feature_item img
    {
        width: 100%;
        vertical-align: top;
    }

.feature_image
{
    width: 15%;
    margin: 0 auto;
    padding-bottom: 10%
}

#video_light_box
{
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    bottom: 0;
    display: none;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

    #video_light_box video
    {
        width: 100%;
    }

        .video_closebtn
        {
            cursor: pointer;
            font-size: 15px;
            position: absolute;
            color: white;
            top: 37%;
            right: 0;
            background-color: black;
            padding: 0.4%;
        }

        .video_closebtn_full_screen_area
        {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: .5;
            text-indent: 100%;
            overflow: hidden;
            z-index: -1;
        }

.about_us_blue_line
{
    display: none;
}

.about_us_text_container
{
    max-width: 816px;
    width: 100%;
    margin: 0 auto 5%;
    padding: 0 44px;
}

    .about_us_text_container h1
    {
        font-size: 26px;
        color: black;
        margin-bottom: 20px;
        display: block;
        text-align: center;
        font-family: 'Noto Serif TC', 'DFKai-SB', 'STKaiti', 'serif';
        font-weight: 700;
        letter-spacing: .8px;
    }

    .about_us_text_container > p
    {
        color: black;
        font-size: 16px;
        text-align: center;
    }

.member_wrap
{
    max-width: 816px;
    width: 90%;
    margin: 0 auto;
}

.mission_vision_wrap
{
    float: none;
    width: 100%;
    margin-bottom: 5%;
}

    .mission_vision_wrap .our_mission
    {
        margin: 0 auto;
        width: 80%;
    }

        .circle::before
        {
            display: inline-block;
            content: '';
            background-image: url(./images/circle.jpg);
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            margin-right: 3px;
        }

        .our_mission h3
        {
            display: inline-block;
            font-size: 24px;
            color: black;
            margin-bottom: 20px;
            white-space:nowrap;
            font-family: 'Noto Serif TC', 'DFKai-SB', 'STKaiti', 'serif';
            font-weight: 700;
            letter-spacing: .8px;
        }

        .our_mission ol{
            padding-left: 51px;
        }

        .our_mission ol li
        {
            font-size: 16px;
            color: black;
        }

    .mission_vision_wrap .our_vision
    {
        margin: 0 auto;
        width: 80%;
    }

        .our_vision h3
        {
            display: inline-block;
            font-size: 24px;
            color: black;
            margin-bottom: 20px;
            font-family: 'Noto Serif TC', 'DFKai-SB', 'STKaiti', 'serif';
            font-weight: 700;
            letter-spacing: .8px;
            white-space:nowrap;
        }

        .our_vision .our_vision_description_container{
            padding-left: 40px;
        }

        .our_vision .our_vision_description_container p
        {
            font-size: 16px;
            color: black;
        }

.blue_button
{
    text-decoration: none;
    background-color: #1637ec;
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding: 15px 30px;
    display: inline-block;
    color: white;
}

.our_research_card
{
    width:20%;
    min-width: 300px;
    margin: 0 auto 5%;
    box-shadow: 3px 6px 10px 1px #919191;
    padding-bottom: 10px;
}

    .our_research_card .small_banner_thumbnaill
    {
        padding: 10px;
    }

    .our_research_card .small_banner_thumbnaill img
    {
        width: 100%;
        vertical-align: bottom;
    }

    .our_research_card p
    {
        padding: 0 4% 7%;
    }

    .our_research_card .button
    {
        text-align: center;
    }

.member
{
    margin-bottom: 5%;
}

.member h4
{
    display: inline-block;
    width: 17%;
    margin: 5px 0;
}

    .member h4 a
    {
        text-decoration: none;
        color: #1637ec;
    }

    .member p
    {
        margin: 0;
    }

.member_title
{
    display: inline-block;
}

.explore_genomics
{
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    height: calc(100vh - 60px);
    padding-top: 25%;
}

    .explore_genomics h1
    {
        font-size: 26px;
        margin: 0 0 7% 0;
    }

    .explore_genomics input
    {
        max-width: 95%;
        width: 100%;
        margin-bottom: 7%;
        border-radius: 19px;
        height: 30px;
        padding-left: 14px;
        font-size: 16px;
    }

    .explore_genomics form
    {
        display: inline;
    }

.recommanded_links
{
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    height: calc(100vh - 60px);
    padding: 0 3%;
}

    .recommanded_links h1
    {
        font-size: 26px;
        margin-bottom: 5%;
    }

    .recommanded_links table
    {
        width: 100%;
        border: none;
        margin: 0 auto;
    }

    th, td {
        border: none;
    }

    .recommanded_links table tr:nth-child(odd)
    {
        background-color:rgb(221, 221, 221);
    }
    
    .recommanded_links table tr:nth-child(even)
    {
        background-color:rgb(255, 255, 255);
    }

    .recommanded_links table tr:hover
    {
        background-color:rgb(255, 250, 205);
    }

    .recommanded_links table tr th
    {
        width: 5%;
    }

    .recommanded_links table tr a
    {
        color: #0d6efd;
        text-decoration: underline;
        font-size: 18px;
        line-height: 32px;
    }

    .recommanded_links h3
    {
        font-size: 40px;
        margin: 40px 0;
    }

    .recommanded_links th
    {
        width: 12%;
    }

.board .article_container_hidden
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.board_icon
{
    max-width: 195px;
    /* max-width: 289px; */
    width: 100%;
    display: block;
    margin: 0 auto 5%;
}

.board_introduce_l
{
    width: 100%;
    float: none;
    text-align: center;
}

    .board_introduce_l h1
    {
        display: inline-block;
        font-size: 26px;
    }

    .board_introduce_l p
    {
        font-size: 15px;
        padding: 4%;
        width: 100%;
        margin: 0 auto;
    }
    
    .board_image_wrap
    {
        width: 100%;
        float: none;
    }

.board_introduce_r
{
    width: 100%;
    float: none;
    text-align: center;
}
    
    .board_introduce_r h1
    {
        display: inline-block;
        font-size: 26px;
    }

    .board_introduce_r p
    {
        font-size: 15px;
        padding: 4% 0;
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
    }

.board_pain_solution_image
{
    background-image: url(./images/board_pain_solution_image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 80%;
    margin: 0 auto;
    height: 0;
    padding-bottom: 63%;
}

.board_chart_image
{
    background-image: url(./images/board_chart_image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 80%;
    margin: 0 auto;
    height: 0;
    padding-bottom: 63%;
}

.board_schedle_image
{
    background-image: url(./images/board_schedule_image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 80%;
    margin: 0 auto;
    height: 0;
    padding-bottom: 63%;
}

.board_escape_image
{
    background-image: url(./images/board_escape_image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 80%;
    margin: 0 auto;
    height: 0;
    padding-bottom: 63%;
}

.about_member
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 1%;
    margin-bottom: 10px;
}

    .about_member .member_name
    {
        display: block;
        float: left;
    }
    
    .member_name li
    {
        display: inline-block;
        max-width: 500px;
        text-align: left;
    }

    .member_name > li h3
    {
        display: inline-block;
        font-size: 24px;
        padding: 0 10px 0 0;
    }

    .member_name > li span
    {
        font-size: 20px;
        padding: 0 0 0 0;
        color: rgb(46, 46, 46);
        font-weight: 100;
    }

    .member_name > li p
    {
        color: rgb(146, 146, 146);
        font-size: 16px;
        padding: 0 38px 0 0;
    }

    .paper_status
    {
        float: right;
        display: block;
        color: #8c6e4a;
    }

    .paper_status li
    {
        display: inline-block;
        max-width: 210px;
        text-align: center;
    }

    .paper_status li .count
    {
        display: block;
        font-size: 24px;
    }

.paper_list_results
{
    margin-bottom: 20px;
    position: relative;
}

.paper_list_results a
{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-indent: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.paper_list h3
{
    font-size: 24px;
    font-weight: 400;
    color: #8c6e4a;
    margin-bottom: 10px;
    font-style: italic;
}

.paper_list h3:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.paper_list_results
{
    margin-bottom: 40px;
}

.paper_list_results p
{
    color: #343434;
    font-size: 18px;
}

.paper_list_results p:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.awardTitle
{
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: .1px;
    color: rgb(46, 46, 46)
}

.award_news
{
    display: none;
    margin-bottom: 40px;
    position: relative;
}

#news
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 58px 30px 84px;
    margin-right: 0;
    margin-left: 0;
}

#news_content
{
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    order: 1;
}

.awardTitle
{
    display: none;
}

#news_content .articleTitle
{
    font-size: 24px;
}

#news_list header h3
{
    font-size: 30px;
    font-family: 'Noto Serif TC', 'DFKai-SB', 'STKaiti', 'serif';
    font-weight: 400;
    line-height: 44px;
    margin-bottom: 20px;
    color: #8c6e4a
}

#news_list p
{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .2px;
}

#news_list a
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: block;
    text-indent: 100%;
    overflow: hidden;
}

.award_submenu_container
{
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 4;
}

.desktop_award_submenu
{
    display: none;
}

.mobile_award_submenu
{
    border: 1px solid #8c6e4a;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
}

.mobile_award_submenu a
{
    font-size: 18px;
    font-weight: 700;
    padding: 4px 16px;
}

.research
{
    display: flex;;
}

.research .research_container
{
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 30px;
}

.paginator_first_page:before
{
    padding: 5px 10px;
    display: inline-block;
    content: "«";
}

.paginator_previous_page:before
{
    padding: 5px 10px;
    display: inline-block;
    content: "‹";
}

.paginator_next_page:before
{
    padding: 5px 10px;
    display: inline-block;
    content: "›";
}

.paginator_last_page:before
{
    padding: 5px 10px;
    display: inline-block;
    content: "»";
}

.paper_link_outside_button
{
    display: block;
    border: 1.5px solid #a31f34;
    padding: 5px 12px;
    max-width: 200px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
}

.paper_link_outside_button h3
{
    font-size: 18px;
    color: #a31f34;
}
.research_anchor
{
    transition: all .3s 0s ease;
}

.research_anchor.active
{
    background-color: #8c6e4a;
    color: white;
}

.award_anchor
{
    transition: all .3s 0s ease;
}

.award_anchor.active
{
    background-color: #8c6e4a;
    color: white;
}

#year button
{
    background-color: #707b91;
    padding: 4px 85px;
    color: white;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
}

.show 
{
    display: block;
}

#year
{
    order: 0;
    margin-bottom: 30px;
}

#news_year
{
    max-height: 800px;
    overflow: scroll;
    list-style: none;
    width: 262px;
    margin: 0 auto;
}

#news_year .newsYearStatus
{
    background: #e5e5e5;
}

#news_year li
{
    padding: 15px 0;
    border-bottom: 1px dashed #707b91;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

#news_year .allYears.active
{
    background-color: #e5e5e5;
}

.change_page.active
{
    background-color: #d4d7de;
    border-radius: 50rem;
    line-height: 1;
    margin-left: 0.25rem;
}

.change_page
{
    padding: 5px 8px;
    cursor: pointer;
}

#pagenator
{
    width: 100%;
    display: block;
    order: 3;
}

#pagenator ul
{
    display: flex;
    justify-content: center;
    list-style: none;
}


#pagenator ul li
{
    align-content: center;
}

#paginatorNumbers
{
    vertical-align: baseline;
}

#news_detail
{
    display: flex;
    max-width: 440px;
    margin: 0 auto;
    padding: 0 8px;
}
#news_detail .news_detail_container
{
    flex-basis: 0;
    flex-grow: 1;
    padding: 50px 20px;
    text-align: center;
    background-color: rgb(218, 42, 11);
}
#news_detail .news_detail_container h1
{
    font-size: 80px;
    font-family: "DFKai-sb";
    letter-spacing: 2px;
}
#news_detail .news_detail_container h2
{
    font-size: 44px;
    font-family: 'Noto Serif TC', serif;
    letter-spacing: 1px;
}
#news_detail .news_detail_container h3
{
    font-size: 35px;
    font-family: 'Noto Serif TC', serif;
    letter-spacing: 1px;
    display: inline-block;
}
#news_detail .news_detail_container h4
{
    font-size: 30px;
    font-family: 'Noto Serif TC', serif;
    letter-spacing: 1px;
    display: inline-block;
}
#news_detail .news_detail_container span
{
    font-size: 15px;
    font-family: 'Noto Serif TC', serif;
    letter-spacing: 1px;
    display: inline-block;
    margin: 0 5px;
}
#news_detail .news_detail_container img
{
    width: 90%;
    padding: 8px 0;
}
.news_detail_decoration
{
    padding: 12px 0;
    border-bottom: 1px dashed
}
#news_detail footer
{
    font-size: 20px;
    font-weight: 700;
    padding: 18px 0;
    background-color: transparent;
}
#news_detail footer .nowrap
{
    display: inline-block;
    width: auto;
}
#news_detail footer .nowrap span
{
    font-family: "DFKai-sb";
    font-size: 20px;
}
#news_detail footer .wrap
{
    display: inline-block;
    width: auto;
    height: 50px;
    vertical-align: middle;
}
#news_detail footer .wrap span
{
    display: block;
    font-family: "DFKai-sb";
    font-size: 20px;
}
#news_detail .news_detail_container .news_detail_decoration header
{
    padding: 15px;
}
#solutions
{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 11%;
    padding-right: 11%;
}
#solutions small.award_title
{
    display: block;
    color: #8c6e4a;
    text-decoration: underline;
    font-size: 1em;
}
#solutions small.award_title a:link
{
    color:#8c6e4a;
}
#solutions small.award_title a:visited
{
    color:#8c6e4a;
}
#solutions small.award_title a:hover
{
    color:#f0c48e;
}
#solutions small.award_title a:active
{
    color:#8c6e4a;
}
#solutions .intro_title
{
    margin: 0 0 3rem 0;
}
#solutions .intro_title h1
{
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Noto Serif TC', 'DFKai-SB', 'STKaiti', 'serif';
}
#solutions .container
{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
#solutions .container .figures
{
    order:1;
    width: 100%;
    max-width: 100%;
    padding: 0.5rem 1rem;
    flex: 0 0 100%;
    background-color: #d8ecff;
}
#solutions .container .figures h1.award_title
{
    display: none;
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 1rem;
    color: #8c6e4a;
    text-decoration: underline;
    cursor: pointer;
}
#solutions .container .figures h1.award_title a:link
{
    color:#8c6e4a;
}
#solutions .container .figures h1.award_title a:visited
{
    color:#8c6e4a;
}
#solutions .container .figures h1.award_title a:hover
{
    color:#f0c48e;
}
#solutions .container .figures h1.award_title a:active
{
    color:#8c6e4a;
}
#solutions .container .describe
{
    order:0;
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    padding-right: 1rem;
}
#solutions .container .describe .align
{
    width: fit-content;
    margin: 0 auto;
}
#solutions .container .describe.pb
{
    padding-bottom: 3em;
}
#solutions .container .describe h1
{
    margin-bottom: 30px;
    font-weight: 700;
    font-family: 'Noto Serif TC', 'DFKai-SB', 'STKaiti', 'serif';
    font-size: 1.5em;
}
#solutions .container .describe h1.project_name
{
    font-size: 1.7em;
}
#solutions .container .describe span
{
    font-size: 1em;
}
#solutions .container .describe .mb
{
    margin-bottom: 3rem;
}

/* 以下是桌機板 */

@media screen and (min-width:768px)
{
    #app
    {
        padding-top: 96px;
    }

    .header_container
    {
        background-color: transparent;
    }

    .gap
    {   
        padding-top: 130px;
    }

    header .menu_btn
    {
        display: none;
    }

    .mobile_menu
    {
        display: none;
    }

    .desktop_menu
    {
        display: flex;
        position: relative;
        width: 71%;
        left: 0;
        height: 40px;
        justify-content: space-between;
        transition: 0s;
        background-color: transparent;
        text-align: center;
        margin: 0 auto;
        align-items: center;
    }

    .desktop_menu a
    {
        display: inline-block;
        font-size: 16px;
        font-family: 'Noto Serif TC', 'DFKai-SB', 'STKaiti', 'serif';
        font-weight: 100;
        line-height: 18px;
        height: auto;
        border-bottom: none;
        color: black;
        transition: .4s;
        padding: 0 20px;
    }

    .desktop_menu a:hover
    {
        color: #1637ec;
    }

    header .logo
    {
        height: 40px;
        display: block;
    }

    .login
    {
        display: block;
        margin-right: 3%;
    }

    #big_banner_bg_automated_recognition_echocardiography,
    .slick-slide[data-href="automated_recognition_echocardiography.html"]{
        height: 548px;
        background-image: url(./images/big_banner_index_desktop_01.png);
    }

    #big_banner_bg_9b_interaction_board,
    .slick-slide[data-href="9b_interaction_board.html"]{
        height: 548px;
        background-image: url(./images/big_banner_board_desktop_01.png);
    }

    #big_banner_bg_automated_recognition_ecg,
    .slick-slide[data-href="automated_recognition_ecg.html"]{
        height: 548px;
        background-image: url(./images/big_banner_automated_recognition_ecg_desktop_01.png);
    }

    #big_banner_bg_gene_stent,
    .slick-slide[data-href="gene_stent.html"]{
        height: 548px;
        background-image: url(./images/big_banner_gene_stent_desktop_01.png);
    }

    .big_banner_text
    {
        width: fit-content;
        max-width: 660px;
        margin: auto auto auto 20%;
        transform: translate(-23%, 0%);
        padding: 0;
    }

    .big_banner_text h1
    {
        color: rgb(231, 231, 231);
        font-size: 30px;
        text-align: left;
        font-family: 'Noto Serif TC', 'DFKai-SB', 'STKaiti', 'serif';
        font-weight: 700;
        text-shadow: none;
    }
    /* 專門微調整 solutions.html 的 big banner 文字專用的 */
    .slick-slide[data-href="automated_recognition_echocardiography.html"] .big_banner_text h1:nth-of-type(2){
        padding-left: 8px;
    }

    .slick-slide[data-href="9b_interaction_board.html"] .big_banner_text h1:nth-of-type(2){
        max-width: 30rem;
        padding-left: 8px;
    }

    .slick-slide[data-href="automated_recognition_ecg.html"] .big_banner_text h1:nth-of-type(2){
        max-width: 36rem;
        padding-left: 8px;
    }

    .slick-slide[data-href="gene_stent.html"] .big_banner_text h1:nth-of-type(1){
        color: rgb(32, 32, 32);
    }
    .slick-slide[data-href="gene_stent.html"] .big_banner_text h1:nth-of-type(2){
        max-width: 36rem;
        color: rgb(32, 32, 32);
        margin-bottom: 5%;
        padding-left: 8px;
    }

        .big_banner_text p
        {
            color: rgb(231, 231, 231);
            font-size: 20px;
            margin-bottom: 5%;
            text-align: left;
            font-family: 'Noto Serif TC', 'DFKai-SB', 'STKaiti', 'serif';
            font-weight: 100;
            text-shadow: none;
        }
        /* 專門微調整 solutions.html 的 big banner 文字專用的 */
        .slick-slide[data-href="automated_recognition_echocardiography.html"] .big_banner_text p:nth-of-type(2){
            padding-left: 8px;
        }
        .slick-slide[data-href="automated_recognition_echocardiography.html"] .big_banner_text p:nth-of-type(3){
            margin: 0;
            padding-left: 8px;
        }

        .slick-slide[data-href="9b_interaction_board.html"] .big_banner_text p:nth-of-type(2){
            max-width: 33rem;
            padding-left: 8px;
        }

        .slick-slide[data-href="automated_recognition_ecg.html"] .big_banner_text p:nth-of-type(2){
            max-width: 29rem;
            margin: 0;
            padding-left: 8px;
        }

        .slick-slide[data-href="gene_stent.html"] .big_banner_text p:nth-of-type(1){
            color: rgb(32, 32, 32);
        }
        .slick-slide[data-href="gene_stent.html"] .big_banner_text p:nth-of-type(2){
            max-width: 33rem;
            color: rgb(32, 32, 32);
            margin: 0;
            padding-left: 8px;
        }

    .big_banner_text .button
    {
        margin-top: 4%;
        width: 100%;
        text-align: left;
        font-family: 'Noto Serif TC', 'DFKai-SB', 'STKaiti', 'serif';
        font-weight: 100;
    }

    #small_banner_wrap
    {
        overflow: hidden;
        margin: 0 auto;
        max-width: 1380px;
        width: 100%;
    }
    /* 左邊的小 Banner */
    #small_banner_wrap > .small_banner
    {   
        height: 480px;
        background-image: url(./images/small_banner_l_desktop_01.png);
        float: left;
        width: 48%;
        max-width: 670px;
        margin: 1%;
    }
    /* 右邊的小 Banner */
    #small_banner_wrap > .small_banner ~ .small_banner
    {
        height: 480px;
        background-image: url(./images/small_banner_r_desktop_01.png);
        float: left;
        width: 48%;
        max-width: 670px;
        margin: 1%;
    }

    .small_banner_container
    {
        max-width: 600px;
    }

    .article_container_hidden
    {
        overflow: hidden;
    }

    .article_container .title
    {
        font-size: 32px;
        text-align: left;
        margin-left: 2%;
    }

    .simulate_image_l_wrap
    {
        width: 50%;
        float: left;
    }

    .introduce_r
    {
        float: left;
        width: 50%;
    }
    
    #videoclip
    {
        max-width: 75%;
    }
    
    .video_closebtn
    {
        font-size: 16px;
        top: 22.5%;
        right: 12.5%;
    }

    .introduce_video_container button
    {
        display: inline;
        padding: 5px;
        width: auto;
        margin: 0% 2% 2% 0%;
    }

    .introduce_text_container h1
    {
        font-size: 32px;
    }

    .introduce_text_container p
    {
        color: black;
        font-size: 16px;
        margin-bottom: 5%;
    }

    .flow_image_l_wrap
    {
        width: 50%;
        float: left;
    }

    .feature_item h3
    {
        font-size: 30px;
    }

    .about_us_blue_line
    {
        display: inline-block;
    }

    .about_us_text_container > p{
        text-align: center;
    }

    .mission_vision_wrap
    {
        float: left;
        width: 50%;
        margin-bottom: 0;
    }

            .our_mission h3
            {
                font-size: 30px;
            }

            .our_vision h3
            {
                font-size: 30px;
            }

    .our_research_card
    {
        margin: 0 auto;
    }

    .member_wrap
    {
        width: 100%;
    }

    .explore_genomics
    {
        height: calc(100vh - 80px);
        padding-top: 0;
    }

        .explore_genomics h1
        {
            font-size: 32px;
            margin: 0 0 3% 0;
        }

        .explore_genomics input
        {
            max-width: 60%;
            width: 100%;
            margin-bottom: 3%;
            height: 40px;
            padding-left: 14px;
        }

    .recommanded_links
    {
        height: calc(100vh - 80px);
    }

    .recommanded_links h1
    {
        font-size: 32px;
    }

    .board .article_container_hidden
    {
        flex-direction: row;
    }

    .board_introduce_l
    {
        width: 50%;
        float: left;
        padding-left: 4%;
        text-align: left;
        display: block;
    }

    .board_introduce_l h1
    {
        font-size: 32px;
        vertical-align: middle;
        padding-left: 4%;
        max-width: 70%;
        text-align: left;
    }

    .board_introduce_l p
    {
        font-size: 16px;
        text-align: left;
        margin: 0;
        padding: 4% 0;
    }

    .board_image_wrap
    {
        width: 50%;
        float: left;
        display: block;
    }

    .board_introduce_r
    {
        width: 50%;
        float: right;
        padding-right: 4%;
        text-align: left;
        display: block;
        order: 1;
    }

    .board_introduce_r h1
    {
        font-size: 32px;
        vertical-align: middle;
        padding-left: 4%;
        max-width: 70%;
        text-align: left;
    }

    .board_introduce_r p
    {
        font-size: 16px;
        text-align: left;
        max-width: 100%;
        margin: 0;
        padding: 4% 0;
    }

    .board_icon
    {
        vertical-align: middle;
        max-width: 23%;
        width: 125px;
        display: inline-block;
        margin: 0;
    }

    .award_submenu_container
    {
        width: 122px;
        left: 18px;
        top: 96px;
    }

    .mobile_award_submenu
    {
        display: none;
    }

    .desktop_award_submenu
    {
        border: 1px solid #8c6e4a;
        padding: 8px 7px;
        width: 100%;
        display: block;
        cursor: pointer;
    }

    .desktop_award_submenu:hover
    {
        border: 1px solid #f0c48e;
        transition: all .1s 0s ease;
    }

    .desktop_award_submenu a
    {
        font-size: 18px;
        font-weight: 700;
        padding: 4px 16px;
        display: block;
    }

    .research .research_container
    {
        padding: 0 160px;
    }

    .paper_link_outside_button
    {
        margin: 0;
    }

    #news
    {
        flex-direction: row;
        padding: 58px 150px 84px;
    }

    #news_content
    {
        order: 0;
    }

    #pagenator
    {
        order: 0;
    }

    #year
    {
        margin-bottom: 0;
        margin-left: 100px;
    }

    #news_detail
    {
        display: block;
        max-width: 550px;
        padding: 0;
    }

    #news_detail .news_detail_container
    {
        margin: auto;
        height: auto;
    }
    #news_detail .news_detail_container h3
    {
        font-size: 40px;
    }

    #news_detail .news_detail_container h4
    {
        font-size: 30px;
    }

    #news_detail .news_detail_container img
    {
        width: 100%;
    }

    #news_detail footer .wrap span
    {
        font-size: 25px;
    }

    #news_detail footer .nowrap span
    {
        font-size: 25px;
    }

    .blue_button
    {
        font-size: 16px;
    }

}

/* 以下是平板 solutions */
@media screen and (min-width: 1200px)
{
    #solutions
    {
        max-width: 1170px;
    }
    #solutions .container .figures h1.award_title
    {
        font-size: 1.25em;
        display: block;
    }
    #solutions .container .describe h1.project_name
    {
        font-size: 1.3em;
    }
    #solutions .container .describe span
    {
        font-size: 1em;
    }
    #solutions .container .describe h1
    {
        font-size: 1.3em;
    }
    #solutions .container .describe .mb
    {
        margin-bottom: 3rem;
    }
    #solutions .intro_title h1
    {
        font-size: 1.3em;
    }
    #solutions .container .figures
    {
        max-width: 50%;
        flex: 0 0 50%;
        padding-top: 4rem;
    }
    #solutions .container .describe
    {
        max-width: 50%;
        flex: 0 0 50%;
    }
    #solutions small.award_title
    {
        display: none;
    }
}
/* 以下是平板 */
@media screen and (min-width:1273px) 
{
    #app
    {
        padding-top: 80px;
    }
}
/* 以下是桌機 solutions */
@media screen and (min-width:1400px)
{
    #solutions
    {
        max-width: 100%;
    }
    #solutions small.award_title
    {
        display: none;
    }
    #solutions .container .describe .align
    {
        width: fit-content;
        margin: 0 auto;
    }
    #solutions .container .describe h1.project_name
    {
        font-size: 2em;
    }
    #solutions .container .describe span
    {
        font-size: 1.25em;
    }
    #solutions .container .figures h1.award_title
    {
        font-size: 1.75em;
        display: block;
    }
    #solutions .container .describe h1
    {
        font-size: 1.5em;
    }
    #solutions .intro_title h1
    {
        font-size: 2em;
    }
}
