* 
{
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3
{
    font-size: 40px;
    color: black;
}

main
{
    background-color: black;
}

header
{
    max-width: 1520px;
    margin: 0 auto;
    height: auto;
    background-color: white;
    position: relative;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header .menu_btn
{
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 2px;
}

header .menu_btn::before
{
    content: '';
    position: absolute;
    height: 2px;
    left: 5px;
    width: 30px;
    background-color: rgb(144 144 144);
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 8px 0px rgb(144 144 144),
    0px -8px 0px rgb(144 144 144);
}

header .menu_btn span
{
    opacity: 0;
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
}
header .logo
{
    width: 121px;
    height: 60px;
    margin-left: 3%;
    display: none;
}

header .logo img
{
    vertical-align: bottom;
}

.navFixed
{        
    max-width: 100%;
    opacity: 0.94;
    background-color: white;
    transition: all .3s 0s ease;
}

.navFixed .logo
{
    display: none;
}

.navFixed .login
{
    display: none;
}

#menu_control
{
    position: absolute;
    z-index: -2;
    opacity: 0;
}

.login
{
    display: none;
    width: auto;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 10px;
}

.login a
{
    text-decoration: none;
}

 .header_separate_line a
    {
        border-top: 1px solid rgb(196, 196, 196);
        position: relative;  /*不知道為什麼這裡把原本的absolut 改為relative就能顯示在畫面上了 */
        top: 42px;
        left: 0;
        display: block;
        z-index: 9;
        white-space: nowrap
    }

nav
{
    top: 0;
}

nav a
{
    text-decoration: none;
    color: black;
}

.desktop_menu
{
    display: none;
}

.mobile_menu
{
    position: absolute;
    left: -100%;
    transition: all .5s 0s ease;
    width: 80%;
    height: 100vh;
    padding-top: 14%;
    background-color: #dcdcdc;
}

#menu_control:checked ~ .wrap header .mobile_menu
{
    left: 0;
}

    .mobile_menu a
    {   
        display: block;
        padding: 10px 20px;
        border-bottom: 1px solid #f2f2f2;
    }

    .mobile_menu a:active
    {
        background-color: #1637ec;
    }

#big_banner
{   
    height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

    .big_banner_index
    {
        background-image: url(./images/big_banner.jpg);
    }

    .big_banner_solution
    {
        background-image: url(./images/big_banner2.jpg);
    }

.big_banner_container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
}

    .big_banner_container h1
    {
        color: white;
        font-size: 30px;
        text-align: center;
        margin-bottom: 5%;
    }

    .big_banner_container p
    {
        color: white;
        font-size: 15px;
        text-align: center;
        margin-bottom: 5%;
    }

    .big_banner_container .button
    {
        width: 100%;
        text-align: center;
    }

#small_banner_wrap
{
    width: 100%;
    overflow: auto;
}

.small_banner
{
    position: relative;
    height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

.small_banner:nth-child(1)
{   
    background-image: url(./images/small_banner_l.jpg);
    float: none;
}

.small_banner:nth-child(2)
{
    height: 480px;
    background-image: url(./images/small_banner_r.jpg);
    float: none;
}

.small_banner_container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 0 20px;
}

.small_banner_container h1
{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 5%;
}

.small_banner_container p
{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-bottom: 5%;
}

footer
{
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 0 5%;
}

    footer h3
    {
        text-align: center;
        font-size: 15px;
        line-height: 30px;
        font-weight: normal;
    }

.background_cool_gray
{
    background-color: #f2f2f2;
}

.first_article
{
    padding-top: 10%;
}

.simulate_image_l_wrap
{
    width: 100%;
    float: none;
    margin-top: 5%;
}

.simulate_image_l
{
    background-image: url(./images/lap_top2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 80%;
    margin: 0 auto;
    height: 0;
    padding-bottom: 68%;
}

.flow_image_l_wrap
{
    width: 100%;
    float: none;
    margin-top: 5%;
}

.flow_image_l
{
    background-image: url(./images/flow.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 80%;
    margin: 0 auto;
    height: 0;
    padding-bottom: 63%;
}

.introduce_r
{
    float: none;
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

article
{
    background-color: white;
    padding-bottom: 3%;
    border-bottom: 0.5px solid rgb(196, 196, 196);
}

.article_container
{
    max-width: 1520px;
    margin: 0 auto;
    height: auto;
}

    .article_container .title
    {
        font-size: 26px;
        color: black;
        text-align: center;
        margin-top: 2%;
    }

.article_container_hidden
{
    overflow: auto;
}

.introduce_text_container
{
    max-width: 80%;
    margin: 0 auto;
}

    .introduce_text_container h1
    {
        color: black;
        font-size: 26px;
        margin-bottom: 5%;
    }

    .introduce_text_container p
    {
        color: black;
        font-size: 15px;
        margin-bottom: 5%;
    }

.introduce_video_container
{
    max-width: 80%;
    margin: 0 auto;
    padding-top: 5%;
    border-top: 1px solid rgb(196, 196, 196);
}

    .introduce_video_container h1
    {
        margin-bottom: 5%;
        font-size: 26px;
        color: black;
    }

    .introduce_video_container a
    {
        text-decoration: none;
        color: #1637ec;
        display: block;
        padding-top: 3%;
    }

    .introduce_video_container button
    {
        margin: 5% 0;
        display: block;
        padding: 10px;
        width: 100%;
    }

.feature_nav
{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.feature_item
{
    width: 100%; /* 如果要換行，這個 width 才重要*/
    margin: 0 10px 10px;
    text-align: center;
    background-color: white;
    margin-top: 2%;
    padding: 0 10px;
}

    .feature_item h3
    {
        color: black;
        font-size: 24px;
        margin: 4% 0;
    }

    .feature_item img
    {
        width: 100%;
        vertical-align: top;
    }

.feature_image
{
    width: 15%;
    margin: 0 auto;
    padding-bottom: 10%
}

#video_light_box
{
    position: fixed;
    width: 60%;
    height: 15%;
    margin: auto;
    background-color: rgb(0, 0, 0);
    left: 0;
    right: 1px;
    top: 0;
    bottom: 0;
    display: none;
    box-shadow:3px 6px 10px 1px #919191;
    padding-top: 1.5%;
}

    #video_light_box video
    {
        width: 100%;
    }

    #video_light_box .video_closebtn
    {
        cursor: pointer;
        font-size: 16px;
        position: absolute;
        color: white;
        top: 0;
        right: 0;
        background-color: black;
        padding: 0.4%;
    }

.about_us_blue_line
{
    display: none;
}

.about_us_text_container
{
    max-width: 816px;
    width: 100%;
    margin: 0 auto 5%;
    padding: 3% 3% 0;
}

    .about_us_text_container h1
    {
        font-size: 26px;
        color: black;
        display: inline-block;
        margin: 5% 0;
    }

    .about_us_text_container > p
    {
        color: black;
        font-size: 15;
    }

    .about_us_text_container img
    {
        vertical-align: text-top;
    }

.member_wrap
{
    max-width: 816px;
    width: 90%;
    margin: 0 auto;
}

.mission_vision_wrap
{
    float: none;
    width: 100%;
    margin-bottom: 5%;
}

    .mission_vision_wrap .our_mission
    {
        margin: 0 auto;
        width: 80%;
    }

        .our_mission h3
        {
            display: inline-block;
            font-size: 24px;
            color: black;
            margin-bottom: 5%;
        }

        .our_mission p
        {
            font-size: 15px;
            color: black;
        }

    .mission_vision_wrap .our_vision
    {
        margin: 0 auto;
        width: 80%;
    }

        .our_vision h3
        {
            display: inline-block;
            font-size: 24px;
            color: black;
            margin-bottom: 5%;
        }

        .our_vision p
        {
            font-size: 15px;
            color: black;
        }

.blue_button
{
    text-decoration: none;
    background-color: #1637ec;
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding: 15px 30px;
    display: inline-block;
    color: white;
}

.our_research_card
{
    width:20%;
    min-width: 300px;
    margin: 0 auto 5%;
    box-shadow: 3px 6px 10px 1px #919191;
    padding-bottom: 2%;
}

    .our_research_card .small_banner_thumbnaill
    {
        padding: 2%;
    }

    .our_research_card .small_banner_thumbnaill img
    {
        width: 100%;
        vertical-align: bottom;
    }

    .our_research_card p
    {
        padding: 0 4% 7%;
    }

    .our_research_card .button
    {
        text-align: center;
    }

.member
{
    margin-bottom: 2%;
}

.member h4
{
    display: inline-block;
    width: 17%;
    margin: 5px 0;
}

    .member h4 a
    {
        text-decoration: none;
        color: #1637ec;
    }

    .member p
    {
        margin: 0;
    }

.member_title
{
    display: inline-block;
}

.explore_genomics
{
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    height: calc(100vh - 60px);
    padding-top: 39%;
}

    .explore_genomics h1
    {
        font-size: 26px;
        margin: 0 0 7% 0;
    }

    .explore_genomics input
    {
        max-width: 95%;
        width: 100%;
        margin-bottom: 7%;
        border-radius: 19px;
        height: 30px;
        padding-left: 14px;
        font-size: 16px;
    }

    .explore_genomics form
    {
        display: inline;
    }

.recommanded_links
{
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    height: calc(100vh - 60px);
    padding: 3% 3% 0;
}

    .recommanded_links h1
    {
        font-size: 26px;
        margin: 5% 0;
    }

    .recommanded_links table
    {
        width: 100%;
        border: none;
        margin: 0 auto;
    }

    th, td {
        border: none;
    }

    .recommanded_links table tr:nth-child(odd)
    {
        background-color:rgb(221, 221, 221);
    }
    
    .recommanded_links table tr:nth-child(even)
    {
        background-color:rgb(255, 255, 255);
    }

    .recommanded_links table tr:hover
    {
        background-color:rgb(255, 250, 205);
    }

    .recommanded_links table tr th
    {
        width: 5%;
    }

    .recommanded_links table tr a
    {
        color: #0d6efd;
        text-decoration: underline;
        font-size: 18px;
        line-height: 32px;
    }

    .recommanded_links h3
    {
        font-size: 40px;
        margin: 40px 0;
    }

    .recommanded_links th
    {
        width: 12%;
    }

@media screen and (min-width:768px)
{
    .wrap
    {
        padding-top: 96px;
    }

    header
    {
        background-color: transparent;
    }

    .first_article
    {
        padding-top: 0;
    }

    header .menu_btn
    {
        display: none;
    }

    .mobile_menu
    {
        display: none;
    }

    .desktop_menu
    {
        display: flex;
        position: relative;
        width: 71%;
        left: 0;
        height: 40px;
        justify-content: space-between;
        transition: 0s;
        background-color: transparent;
        text-align: center;
        margin: 0 auto;
        align-items: center;
    }

    .desktop_menu a
    {
        display: inline-block;
        font-size: 20px;
        height: auto;
        border-bottom: none;
        color: black;
        transition: .4s;
        padding: 0 20px;
    }

    .desktop_menu a:hover
    {
        color: #1637ec;
    }

    header .logo
    {
        height: 40px;
        display: block;
    }

    .login
    {
        display: block;
        margin-right: 3%;
    }

    #big_banner
    {   
        height: 548px;
    }

        .big_banner_index
        {
            background-image: url(./images/big_banner.jpg);
        }

        .big_banner_solution
        {
            background-image: url(./images/big_banner2.jpg);
        }

    .big_banner_container
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-100%, -50%);
        width: 100%;
        max-width: 540px;
        padding-left: 4%;
        padding-right: 0;
    }

    .big_banner_container h1
    {
        color: white;
        font-size: 50px;
        margin-bottom: 5%;
        text-align: left;
    }

    .big_banner_container p
    {
        color: white;
        font-size: 20px;
        margin-bottom: 5%;
        text-align: left;
    }

    .big_banner_container .button
    {
        margin-top: 4%;
        width: 100%;
        text-align: left;
    }

    #small_banner_wrap
    {
        overflow: hidden;
    }

    #small_banner_wrap > .small_banner
    {   
        background-image: url(./images/small_banner_l.jpg);
        float: left;
        width: 60%;
    }

    #small_banner_wrap > .small_banner ~ .small_banner
    {
        height: 480px;
        background-image: url(./images/small_banner_r.jpg);
        float: left;
        width: 40%;
    }

    .small_banner_container
    {
        max-width: 600px;
    }

    .small_banner_container h1
    {
        font-size: 30px;
    }

    .small_banner_container p
    {
        font-size: 15px;
    }

    .article_container_hidden
    {
        overflow: hidden;
    }

    .article_container .title
    {
        font-size: 32px;
        text-align: left;
        margin-left: 2%;
    }

    .simulate_image_l_wrap
    {
        width: 50%;
        float: left;
    }

    .introduce_r
    {
        float: left;
        width: 50%;
    }

    .introduce_video_container h1
    {
        font-size: 32px;
    }

    .introduce_video_container button
    {
        display: inline;
        padding: 5px;
        width: auto;
        margin: 0% 2% 2% 0%;
    }

    .introduce_text_container h1
    {
        font-size: 32px;
    }

    .introduce_text_container p
    {
        color: black;
        font-size: 16px;
        margin-bottom: 5%;
    }

    .flow_image_l_wrap
    {
        width: 50%;
        float: left;
    }

    .feature_item h3
    {
        font-size: 30px;
    }

    .about_us_blue_line
    {
        display: inline-block;
    }

    .about_us_text_container h1
    {
        font-size: 32px;
        display: inline-block;
        padding-left: 2%;
        margin-bottom: 0;
    }

    .about_us_text_container > p
    {
        padding-left: 24%;
        font-size: 16;
    }

    .mission_vision_wrap
    {
        float: left;
        width: 50%;
        margin-bottom: 0;
    }

        .mission_vision_wrap .our_mission
        {
            padding-left: 10%;
            padding-right: 20%;
        }

            .our_mission h3
            {
                font-size: 30px;
                margin-bottom: 0;
            }

            .our_mission p
            {
                font-size: 16px;
            }

        .mission_vision_wrap .our_vision
        {
            padding-left: 20%;
            padding-right: 10%;
        }

            .our_vision h3
            {
                font-size: 30px;
                margin-bottom: 0;
            }

            .our_vision p
            {
                font-size: 16px;
            }

    .our_research_card
    {
        margin: 0 auto;
    }

    .member_wrap
    {
        width: 100%;
    }

    .explore_genomics
    {
        height: calc(100vh - 80px);
        padding-top: 8%;
    }

        .explore_genomics h1
        {
            font-size: 32px;
            margin: 0 0 3% 0;
        }

        .explore_genomics input
        {
            max-width: 60%;
            width: 100%;
            margin-bottom: 3%;
            height: 40px;
            padding-left: 14px;
        }

    .recommanded_links
    {
        height: calc(100vh - 80px);
    }
    .recommanded_links h1
    {
        font-size: 32px;
    }

    .blue_button
    {
        font-size: 16px;
    }

    footer h3
    {
        font-size: 16px;
        line-height: 40px;
    }
}

@media screen and (min-width:1273px) 
{
    .wrap
    {
        padding-top: 80px;
    }
}